## **The AI powered Financial Chatbot Prototype currently responds only to the given set of questions for selected companies and fiscal years wiz: --**

1.What is the total revenue?
2.What is the Net Income?
3.What is the sum of total assets?
What is the sum of total liabilities?
What is cash flow from operating activities?
What is the revenue growth(%) ?
What is the net income growth(%) ?
What is the assets growth(%) ?
What is the liabilities growth(%) ?
What is the cash flow from operations growth(%) ?
What is the year by year average revenue growth rate(%)?
What is the year by year average net income growth rate(%)?
What is the year by year average assets growth rate(%)?
What is the year by year average liabilities growth rate(%)?
What is the year by year average cash flow from operations growth rate(%)?

In [1]:
import pandas as pd
data1 = pd.read_csv('final_financial_data_report.csv')
data2 = pd.read_csv('year_by_year_summary_report.csv')

In [2]:
data1

,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Company,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow Growth (%)
0,2023,211915,72361,411976,205753,87582,Microsoft,0.000000,0.000000,0.000000,0.000000,0.000000
1,2022,198270,72738,364840,198298,89035,Microsoft,-6.438902,0.520999,-11.441443,-3.623276,1.659017
2,2021,168088,61271,333779,191791,76740,Microsoft,-15.222676,-15.764800,-8.513595,-3.281425,-13.809176
3,2023,96773,14974,106618,43009,13256,Tesla,0.000000,0.000000,0.000000,0.000000,0.000000
4,2022,81462,12556,82338,36440,14724,Tesla,-15.821562,-16.147990,-22.772890,-15.273547,11.074231
5,2021,53821,5519,62131,30548,11497,Tesla,-33.931158,-56.044919,-24.541524,-16.169045,-21.916599
6,2023,383285,96995,352583,290437,110543,Apple,0.000000,0.000000,0.000000,0.000000,0.000000
7,2022,394328,99803,352755,302083,122151,Apple,2.881146,2.894995,0.048783,4.009820,10.500891
8,2021,365817,94680,351002,287912,104038,Apple,-7.230275,-5.133112,-0.496945,-4.691095,-14.828368

In [3]:
print("Year by Year Average Growth from 2021 to 2023")
data2

Year by Year Average Growth from 2021 to 2023

,Company,Year,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow Growth (%)
0,Apple,2021,-7.230275,-5.133112,-0.496945,-4.691095,-14.828368
1,Apple,2022,2.881146,2.894995,0.048783,4.009820,10.500891
2,Apple,2023,0.000000,0.000000,0.000000,0.000000,0.000000
3,Microsoft,2021,-15.222676,-15.764800,-8.513595,-3.281425,-13.809176
4,Microsoft,2022,-6.438902,0.520999,-11.441443,-3.623276,1.659017
5,Microsoft,2023,0.000000,0.000000,0.000000,0.000000,0.000000
6,Tesla,2021,-33.931158,-56.044919,-24.541524,-16.169045,-21.916599
7,Tesla,2022,-15.821562,-16.147990,-22.772890,-15.273547,11.074231
8,Tesla,2023,0.000000,0.000000,0.000000,0.000000,0.000000

In [7]:
%run financial chatbot prototype.py

Exception: File `'financial'` not found.